<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%- title -%></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="manifest" href="manifest.json">
    <link href="css/vdi.css" rel="stylesheet">
  </head>
  <body>
    <!--On Screen Keyboard-->
    <div id="Keyboard" class="lsosk">
      <button onclick="$('#Keyboard').toggle(100)" id="keyboardClose">X</button>
      <div id="osk"></div>
    </div>
    <!--File Browser-->
    <div id="files">
      <iframe id="files_frame" name="files_frame" src="files" frameborder="0"></iframe>
      <div class="close" onclick="$('#files').toggle(100)"></div>
    </div>
    <!-- Display -->
    <div id="display"></div>
    <!-- SideBar -->
    <div id="sidebar">
      <textarea id="clipboard" cols="100" rows="100" class="stopcapture"></textarea>
      <div class="menu">
        <img class="icons" title="On Screen Keyboard" src="css/keyboard.svg" onclick="poposk()"/>
        <img class="icons" title="File Manager" src="css/files.svg" onclick="popfiles()"/>
        <img class="icons" title="Fullscreen" src="css/fullscreen.svg" onclick="fullscreen()"/>
      </div>
      <div class="close" onclick="$('#sidebar').toggle(100)"></div>
    </div>
    <div id="sideopen" onclick="$('#sidebar').toggle(100)"></div>
    <!-- Storage for encoded connection string -->
    <input type="hidden" id="connectionstring" value="<%- token -%>" />
    <input type="hidden" id="keyboard" value="<%- keyboard -%>" />
    <!-- Javascript -->
    <script src="js/vendor/guac.min.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/rdp.js"></script>
  </body>
</html>
